html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  html *,
  html *::before,
  html *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: var(--background);
  text-rendering: optimizeSpeed;
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.5em;
}
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

.border-thin,
address,
details,
kbd:before,
dl {
  border: 1px solid #000;
}

.border-x-thin {
  border-width: 0 1px;
  border: solid #000;
}

.border-y-thin {
  border-width: 1px 0;
  border: solid #000;
}

.border-t-thin,
details p,
ins::before,
u::before,
del::before,
s::before {
  border-top: 1px solid #000;
}

.border-r-thin {
  border-right: 1px solid #000;
}

.border-b-thin {
  border-bottom: 1px solid #000;
}

.border-l-thin {
  border-left: 1px solid #000;
}

.border-medium {
  border: 2px solid #000;
}

.border-x-medium {
  border-width: 0 2px;
  border: solid #000;
}

.border-y-medium {
  border-width: 2px 0;
  border: solid #000;
}

.border-t-medium {
  border-top: 2px solid #000;
}

.border-r-medium {
  border-right: 2px solid #000;
}

.border-b-medium {
  border-bottom: 2px solid #000;
}

.border-l-medium {
  border-left: 2px solid #000;
}

.border-thick {
  border: 4px solid #000;
}

.border-x-thick,
blockquote::before,
blockquote::after {
  border-width: 0 4px;
  border: solid #000;
}

.border-y-thick {
  border-width: 4px 0;
  border: solid #000;
}

.border-t-thick,
blockquote::before {
  border-top: 4px solid #000;
}

.border-r-thick {
  border-right: 4px solid #000;
}

.border-b-thick,
blockquote::after {
  border-bottom: 4px solid #000;
}

.border-l-thick {
  border-left: 4px solid #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.1em 0 0.3em 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: false;
}

h2 {
  font-size: false;
}

h3 {
  font-size: false;
}

h4 {
  font-size: false;
}

h5 {
  font-size: false;
}

h6 {
  font-size: false;
}

p {
  margin: 0 0 0.5rem 0;
}
p:first-child {
  margin-top: 0.5rem;
}

mark {
  padding: 0 0.3em;
}

ins,
u,
del,
s {
  position: relative;
  padding: 0 0.1em;
  text-decoration: none;
}
ins::before,
u::before,
del::before,
s::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

a::before,
ins::before,
u::before {
  top: calc(100% - 0.2em);
}

del::before,
s::before {
  top: 50%;
}

blockquote {
  position: relative;
  width: fit-content;
  padding: 0.5rem;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 1em;
}
blockquote::before,
blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  width: calc(100% - 8px);
  height: 0.5em;
}
blockquote::before {
  top: 0;
}
blockquote::after {
  bottom: 0;
}
blockquote > * {
  display: inline-block;
  margin: 0.5rem 0;
}

q {
  font-weight: bold;
}
q::before,
q::after {
  opacity: 0.7;
}
q::before {
  margin-right: 0.2em;
}
q::after {
  margin-left: 0.2em;
}

sup,
sub {
  padding: 0.1em;
}

ul,
ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
  list-style-position: outside;
}
ul li,
ol li {
  padding-left: 0.5rem;
  margin: 0.5rem 0;
}
ul li::marker,
ol li::marker {
  margin-left: 1rem;
  font-weight: bold;
}
ul[role='nav'],
ol[role='nav'] {
  padding: 0;
  margin: 0;
}
ul[role='nav'] li,
ol[role='nav'] li {
  margin: 0;
}

[role='list'],
[role='nav'] {
  list-style: none;
}
[role='list'] ul,
[role='list'] ol,
[role='nav'] ul,
[role='nav'] ol {
  list-style: none;
}

dl {
  display: grid;
  padding: 0;
  margin: 0.5rem 0;
  grid-template-columns: 1fr;
}
@media (min-width: 576px) {
  dl {
    grid-template-columns: repeat(3, 1fr);
  }
  dl dt {
    text-align: right;
  }
}
dl dt,
dl dd {
  padding: 0.5rem;
  margin: 0;
}
dl dd {
  grid-column: span 2;
}

abbr::before,
kbd::before,
abbr::after,
kbd::after {
  content: '';
  position: absolute;
}

abbr {
  font-style: italic;
  text-decoration: none;
  cursor: help;
}
abbr::after {
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: black;
}

code,
kbd,
samp {
  line-height: 2em;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

kbd {
  position: relative;
}
kbd:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0.05rem 0.2rem 0rem 0.05rem #000;
  z-index: -1;
}

pre {
  padding: 0.5rem;
}

address {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1.1em;
}
address + * {
  margin-left: 1rem;
}

details {
  padding: 0 !important;
  margin: 1rem 0;
}
details summary {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  cursor: pointer;
}
details p {
  padding: 0.5rem 1rem;
  margin: 0;
}

cite {
  font-size: 1.1em;
}

table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
  overflow: hidden;
}
table caption {
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: bold;
}
table tfoot th {
  font-size: 0.8em;
  font-weight: normal;
}
table tr td,
table tr th {
  padding: 0.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1330px;
  }
}

.container-fluid {
  width: 100%;
}

.flex,
.row,
.col,
[class^='col-'],
[class*=' col-'] {
  position: relative;
  display: flex;
}

.fw-wrap {
  flex-wrap: wrap;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

.fd-row {
  flex-direction: row;
}

.fd-row-r {
  flex-direction: row-reverse;
}

.fd-column {
  flex-direction: column;
}

.fd-column-r {
  flex-direction: column-reverse;
}

.jc-initial {
  justify-content: initial;
}

.jc-inherit {
  justify-content: inherit;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ac-initial {
  align-content: initial;
}

.ac-inherit {
  align-content: inherit;
}

.ac-flex-start {
  align-content: flex-start;
}

.ac-flex-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-space-between {
  align-content: space-between;
}

.ac-space-around {
  align-content: space-around;
}

.ac-space-evenly {
  align-content: space-evenly;
}

.ac-stretch {
  align-content: stretch;
}

.ai-baseline {
  align-items: baseline;
}

.ai-initial {
  align-items: initial;
}

.ai-inherit {
  align-items: inherit;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.row {
  width: 100%;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
}

[class^='col-'],
[class*=' col-'],
.col {
  padding: 0.5rem;
  flex: 0 0 auto;
  flex-direction: column;
}
[class^='col-'] > *,
[class*=' col-'] > *,
.col > * {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-m-1 {
    width: 8.3333333333%;
  }
  .col-m-2 {
    width: 16.6666666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.3333333333%;
  }
  .col-m-5 {
    width: 41.6666666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.3333333333%;
  }
  .col-m-8 {
    width: 66.6666666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.3333333333%;
  }
  .col-m-11 {
    width: 91.6666666667%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-l-1 {
    width: 8.3333333333%;
  }
  .col-l-2 {
    width: 16.6666666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.3333333333%;
  }
  .col-l-5 {
    width: 41.6666666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.3333333333%;
  }
  .col-l-8 {
    width: 66.6666666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.3333333333%;
  }
  .col-l-11 {
    width: 91.6666666667%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.p-0 {
  padding: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.p-1 {
  padding: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.m-1 {
  margin: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.m-2 {
  margin: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.m-3 {
  margin: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.m-4 {
  margin: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.m-5 {
  margin: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.p-6 {
  padding: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pr-6 {
  padding-right: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.pl-6 {
  padding-left: 3rem;
}

.m-6 {
  margin: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

.p-7 {
  padding: 3.5rem;
}

.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pt-7 {
  padding-top: 3.5rem;
}

.pr-7 {
  padding-right: 3.5rem;
}

.pb-7 {
  padding-bottom: 3.5rem;
}

.pl-7 {
  padding-left: 3.5rem;
}

.m-7 {
  margin: 3.5rem;
}

.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.p-8 {
  padding: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-8 {
  padding-top: 4rem;
}

.pr-8 {
  padding-right: 4rem;
}

.pb-8 {
  padding-bottom: 4rem;
}

.pl-8 {
  padding-left: 4rem;
}

.m-8 {
  margin: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mr-8 {
  margin-right: 4rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.ml-8 {
  margin-left: 4rem;
}

.p-9 {
  padding: 4.5rem;
}

.px-9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.py-9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.pt-9 {
  padding-top: 4.5rem;
}

.pr-9 {
  padding-right: 4.5rem;
}

.pb-9 {
  padding-bottom: 4.5rem;
}

.pl-9 {
  padding-left: 4.5rem;
}

.m-9 {
  margin: 4.5rem;
}

.mx-9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.my-9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.mt-9 {
  margin-top: 4.5rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.mb-9 {
  margin-bottom: 4.5rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.p-10 {
  padding: 5rem;
}

.px-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-10 {
  padding-top: 5rem;
}

.pr-10 {
  padding-right: 5rem;
}

.pb-10 {
  padding-bottom: 5rem;
}

.pl-10 {
  padding-left: 5rem;
}

.m-10 {
  margin: 5rem;
}

.mx-10 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mt-10 {
  margin-top: 5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.mb-10 {
  margin-bottom: 5rem;
}

.ml-10 {
  margin-left: 5rem;
}

/*# sourceMappingURL=main.css.map */
